<!-- section is a meanigful container of information -->
<!-- helps search engines categorize the site -->

<section class="w-full max-w-2xl px-4 mx-auto mb-8 space-y-6 text-center lg:px-0 lg:mb-20">
  <h1 class="text-4xl font-bold">Design solutions made easy</h1>
  <p class="px-8 font-medium text-medium-brown lg:text-lg lg:px-0">With over ten years experience in various design disciplines, I'm your one-stop shop for your design needs.</p>
</section>

<section class="grid w-full max-w-4xl gap-6 mx-auto mb-24 text-white md:grid-cols-2 lg:grid-cols-3 md:mb-32">
  <div class="bg-galactic-blue md:h-full h-[364px] rounded-lg relative">
    <%= image_tag('pattern-graphic-design.svg', class: "absolute top-6 right-6") %>
    <h2 class="absolute bottom-6 left-6">Graphic Design</h2>
  </div>
  <div class="grid grid-cols-2 gap-6 lg:col-span-1">
    <div class="relative h-40 rounded-lg bg-summer-yellow">
      <%= image_tag('pattern-ui-ux.svg', class: "absolute top-6 right-6") %>
      <h2 class="absolute bottom-6 left-6">UI/UX</h2>
    </div>
    <div class="relative h-40 rounded-lg bg-salmon">
      <%= image_tag('pattern-apps.svg', class: "absolute top-6 right-6") %>
      <h2 class="absolute bottom-6 left-6">Apps</h2>
    </div>
    <div class="relative h-40 col-span-2 rounded-lg bg-light-red">
      <%= image_tag('pattern-illustrations.svg', class: "absolute top-6 right-6") %>
      <h2 class="absolute bottom-6 left-6">Illustrations</h2>
    </div>
  </div>
  <div class="grid gap-6 md:grid-cols-2 md:col-span-2 lg:col-span-1">
    <div class="relative h-40 rounded-lg bg-cyan lg:col-span-2">
      <%= image_tag('pattern-photography.svg', class: "absolute top-6 right-6") %>
      <h2 class="absolute bottom-6 left-6">Photography</h2>
    </div>
    <div class="relative h-40 rounded-lg bg-deep-purple lg:col-span-2">
      <%= image_tag('pattern-motion-graphics.svg', class: "absolute top-6 right-6") %>
      <h2 class="absolute bottom-6 left-6">Motion Graphics</h2>
    </div>
  </div>
</section>

<section class="flex flex-col max-w-4xl gap-10 mx-auto md:gap-16 md:space-x-6 md:items-center md:flex-row">
  <div class="flex justify-center flex-shrink-0 md:justify-start">
    <%= image_tag('image-amy.webp', class: "lg:w-[445px] md:w-[364px] w-[300px]") %>
  </div>

  <div class="space-y-6 lg:space-y-8">
    <h2 class="text-4xl font-bold">I’m Amy, and I’d love to work on your next project</h2>
    <p class="px-8 font-medium text-medium-brown lg:text-lg lg:px-0">
      I love working with others to create beautiful design solutions. I’ve designed everything from brand illustrations to complete mobile apps. I’m also handy with a camera!
    </p>
    <button class="text-white transition-colors duration-300 rounded-full bg-light-red h-14 px-11 hover:bg-galactic-blue focus:bg-galactic-blue">Free Consultation</button>
  </div>
  <!-- TODO: overflow scroll and snap-to classes -->
</section>

<section class="w-full max-w-2xl px-4 mx-auto mt-24 mb-8 space-y-10 text-center lg:px-0 lg:mb-20">
  <div class="">
    <h2 class="text-4xl font-bold">My Work</h2>
  </div>

  <!-- Carousel wrapper -->
  <div id="default-carousel" class="relative flex flex-row items-center justify-center h-56 space-x-2 rounded-lg md:h-96" data-carousel="static">
      <!-- Item 1 -->
    <div class="flex duration-700 ease-in-out" data-carousel-item>
      <%= image_tag('image-slide-1.jpg', class: "absolute block w-64 h-44 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2") %>
    </div>
    <!-- Item 2 -->
    <div class="flex duration-700 ease-in-out" data-carousel-item>
      <%= image_tag('image-slide-2.jpg', class: "absolute block w-64 h-44 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2") %>
    </div>
    <!-- Item 3 -->
    <div class="flex duration-700 ease-in-out" data-carousel-item>
      <%= image_tag('image-slide-3.jpg', class: "absolute block w-64 h-44 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2") %>
    </div>
    <!-- Item 4 -->
    <div class="flex duration-700 ease-in-out" data-carousel-item>
      <%= image_tag('image-slide-4.jpg', class: "absolute block w-64 h-44 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2") %>
    </div>
    <!-- Item 5 -->
    <div class="flex duration-700 ease-in-out" data-carousel-item>
      <%= image_tag('image-slide-5.jpg', class: "absolute block w-64 h-44 -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2") %>
    </div>
  </div>

  <!-- Slider indicators -->
  <div class="flex flex-row items-center justify-center max-w-4xl gap-4 mx-auto md:gap-16 md:space-x-6">
    <button type="button" class="flex items-center justify-center w-16 h-16 bg-black rounded-full hover:bg-galactic-blue">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white bg-inherit">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
      </svg>
    </button>
    <button type="button" class="flex items-center justify-center w-16 h-16 bg-black rounded-full hover:bg-galactic-blue">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white bg-inherit">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
      </svg>
    </button>
  </div>

</section>