<!DOCTYPE html>
<html>
  <head>
    <title>SinglePageDesignPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="container w-screen h-screen mx-auto bg-background">
    <header class="flex items-center justify-between px-4 pt-4 mb-8 lg:pt-8 lg:px-0 lg:mb-16">
      <a href="/" class="flex items-center justify-center w-12 h-12 bg-black lg:w-16 lg:h-16">
        <div class="w-6 h-6 border-4 rounded-full lg:w-8 lg:h-8 border-background"></div>
      </a>
      <button class="text-white transition-colors duration-300 bg-black rounded-full h-14 px-11 hover:bg-galactic-blue focus:bg-galactic-blue">Free Consultation</button>
    </header>
    <main class="container w-screen h-screen mx-auto bg-background">
      <%= yield %>
    </main>
  </body>
</html>
